.row-content {
  margin: 0px auto;
  padding: 0px 0px;
  border-bottom: 1px ridge;
  background-color: #cfe9c4;
  min-height: 400px;
  margin-bottom: 20px;
  overflow: hidden; }

.footer {
  margin: 0px auto;
  padding: 50px 0px; }

.row-margin {
  margin: 0px auto;
  padding: 50px 0px; }

.navbar-dark {
  background-color: #182c2a; }

.nav-pills > li > a:focus {
  background-color: #182c2a !important; }
