$lt-gray: #ddd;
$background-dark: #182c2a;
$background-light: #9575CD;
$background-pale: #cfe9c4;



@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin:0px auto;
	padding: $pad-up-dn $pad-left-right;
}


.row-content {
    @include zero-margin(0px,0px);
    border-bottom: 1px ridge;
    background-color: $background-pale;
    min-height:400px;
    margin-bottom: 20px;
    overflow: hidden;
}

.footer{
    
    @include zero-margin(50px, 0px);
}
.row-margin{
    
    @include zero-margin(50px, 0px);
}

.navbar-dark {
    background-color: $background-dark;
}
.nav-pills > li > a:focus {
    background-color: $background-dark!important;
}